BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333
FRONTEND_URL=http://localhost:3000

RESEND_API_KEY=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

S3_ROOT_USER=
S3_ROOT_PASSWORD=
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=attachments

OTEL_SERVICE_NAME=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_RESOURCE_ATTRIBUTES=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_TRACES_EXPORTER=
OTEL_NODE_RESOURCE_DETECTORS=

REDIS_URL=redis://localhost:6379